@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import "tailwindcss";

:root {
  --background: oklch(98.4% 0.014 180.72);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(98.4% 0.014 180.72);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
