@import "tailwindcss";

:root {
  --background: oklch(98.4% 0.014 180.72);
  --foreground: #171717;
}

@font-face {
  font-family: Poppins;
  src: url("/Poppins/Poppins-Regular.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(98.4% 0.014 180.72);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  font-weight: 400
}

@media screen and (max-width: 1290px) {
  #navbar {
    width: 100vw;
    height: 75px;
    z-index: 10;
    flex-direction: row;
  }

  main {
    margin-top: 75px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1080px) {
  .contact-form {
    width: 100%;
  }
}
@media screen and (max-width:910px) {
  .background-picture {
    background-size: cover;
  }

  .p-20 {
    padding: 20px;
  }
}

@media screen and (max-width: 790px) {
  .song-col {
    width: 50%;
  }
}

@media screen and (max-width: 670px) {
    .song-container {
    flex-direction: column;
  }
  .song-col {
    width: 100%;
  }
  
  .cover-container {
    grid-template-columns: auto;
  }
}
@media screen and (max-height: 670px) {
  .background-picture {
    background-position: top;
  }
}

@media screen and (max-height: 520px) and ( min-width: 910px) {
  .background-picture {
    background-position-y: -100px;
  }
}
.bar {
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 100vh;
}